@import '../../styles/global';

.columns {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &:first-child {
    @extend .margin-top-4;
  }

  &:last-child {
    align-items: flex-start;

    pre {
      &:before,
      &:after {
        display: none;
      }
    }
  }

  &:only-child {
    align-items: center;
  }

  & > * {
    @extend .margin-right-4;

    width: 100%;
    min-width: calc(33% - #{$spacing-value-4});

    &:last-child {
      margin-right: 0;
    }
  }
}
