@import '../../styles/global';

.control-info {
  @extend .padding-around-3;
  @extend .padding-right-5;
  @extend .padding-left-5;
  @extend .font-size-2;
  @extend .animated;
  @extend .fadeIn;

  @include rems(top, 2);
  @include border-radius(200px);

  position: absolute;
  left: 50%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  transform: translateX(-50%);
  text-align: center;

  span {
    display: block;
  }
}
