@import '../../styles/global';

.heading-default {
  &:last-child {
    margin-bottom: 0;
  }
}

.heading-homepage {
  @extend .transition;

  @include font-size(12, 12);

  font-weight: 100;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  border-bottom: none;
  padding: 0;
  text-transform: lowercase;
  width: 100%;
  text-align: center;
}

.heading-white {
  color: #fff;
}

.heading-1 {
  @extend h1;

  &.heading-white {
    border-bottom: 1px solid #fff;
  }
}

.heading-2 {
  @extend h2;
}

.heading-3 {
  @extend h3;
}

.heading-4 {
  @extend h4;
}

.heading-5 {
  @extend h5;
}

.heading-6 {
  @extend h6;
}
