@import '../../styles/global';

.section {
  &-background {
    position: relative;

    &:nth-child(4n+1) {
      @extend .gradient-1;
    }

    &:nth-child(4n+2) {
      @extend .gradient-2;
    }

    &:nth-child(4n+3) {
      @extend .gradient-6;
    }

    &:nth-child(4n) {
      @extend .gradient-4;
    }
  }
}
