:global(.example-wrapper) {
  margin-top: -#{$spacing-value-2}rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  div {
    @extend .font-size-7;
    @extend .margin-right-2;
    @extend .margin-top-2;

    @include rems(width, 10);
    @include rems(height, 10);
    @include box;

    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary;
    color: #fff;
    font-family: 'Lato', sans-serif;

    &:last-child {
      margin-right: 0;
    }
  }
}
