input[type=email], input[type=text], input[type=tel], input[type=password], input[type=number], textarea {
	width: 100%;
  -webkit-appearance: none;
	outline: none;
  border: 1px solid #ccc;
  background: #fff;
	font-family: 'Raleway', sans-serif;
	color: $body;

	@extend .padding-around-2;
  @extend .margin-bottom-3;
	@extend .font-size-4;
  @extend .transition;
  @include box;
  @include border-radius(5px);

  &:focus {
    border: 1px solid $primary;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

textarea {
  @extend .margin-bottom-1;
}

// input[type="submit"], button {
// 	text-decoration: none;
// 	cursor: pointer;
// 	-webkit-appearance: none;
// 	background: #fff;
// 	color: $primary;
// 	border: 1px solid $primary;
// 	font-family: 'Raleway', sans-serif;
//
//   @extend .transition;
// 	@extend .font-size-4;
//   @include border-radius(50px);
// 	@include rems(padding, 1, 4);
//
//   &:hover {
//     background: $primary;
//     color: #fff;
//   }
// }

select {
	background-image: url('/assets/images/select@2x.png');
	background-position: right 10px center;
  background-position: right 1rem center;
	background-repeat: no-repeat;
	background-size: 16px auto;
	background-size: 1.6rem auto;
  width: 100%;
	-webkit-appearance: none;
	outline: none;
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: 'Raleway', sans-serif;
	color: $body;

  @extend .font-size-4;
  @extend .margin-bottom-3;
  @include box;
	@include rems(padding, 1, 3.6, 1, 1);
  @include border-radius(5px);

  &::-ms-expand {
    display: none;
  }
}

label {
  @extend .margin-bottom-1;
  @extend .font-size-4;

  color: $primary;
  display: block;
}
