@import url('https://fonts.googleapis.com/css?family=Lato:300|Raleway:400,400i,900&display=swap');

body {
  @include box;
	background: #ededed;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	@extend .font-size-6;
}

#root {
	min-height: 100%;
	position: relative;
}

:global(.container) {
	@include rems(max-width, 120);
  width: 96%;
  margin: 0 auto;

  &.ultra {
    @include rems(padding, 8, 0);
  }

  &.narrow {
    @include rems(max-width, 66);
  }
}

a {
  @extend .transition;

	color: #fff;
	cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dashed #fff;

  &:hover {
    border-bottom: 1px solid #fff;
  }

	&.white {
		color: #fff;
	}
}

header {
	position: relative;
	z-index: 20;
}
