.gradient-1 {
  @include horizontal-grad($lush-2, $lush-1);
}

.gradient-2 {
  @include horizontal-grad($soundcloud-1, $soundcloud-2);
}

.gradient-3 {
  @include horizontal-grad($calm-darya-1, $calm-darya-2);
}

.gradient-4 {
  @include horizontal-grad($purplin-1, $purplin-2);
}

.gradient-5 {
  @include horizontal-grad($mastercard-1, $mastercard-2);
}

.gradient-6 {
  @include horizontal-grad($pacific-2, $pacific-1);
}

.gradient-7 {
  @include horizontal-grad($blackrose-1, $blackrose-2);
}

.gradient-8 {
  @include horizontal-grad($ibiza-1, $ibiza-2);
}

.gradient-9 {
  @include horizontal-grad($by-design-1, $by-design-2);
}

.gradient-10 {
  @include horizontal-grad($mello-1, $mello-2);
}
