h1 {
  @extend .margin-bottom-5;

  @include font-size(24, 18);

  font-weight: 900;
  text-transform: uppercase;
  word-spacing: 100vw;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$tablet} {
    @include rems(letter-spacing, 0.5);
  }
}

h2 {
  @extend .margin-bottom-4;

  @include font-size(16, 12);

  font-weight: 900;
  text-transform: uppercase;
  word-spacing: 100vw;

  &:last-child {
    margin-bottom: 0;
  }
}

h3 {
  @extend .font-size-7;
  @extend .margin-bottom-2;
  
  font-weight: 900;
  text-transform: uppercase;
}

h4 {
  @extend .font-size-3;
  @extend .font-weight-bold;
  @extend .margin-bottom-1;
}

h5 {
  @extend .font-size-4;
  @extend .font-weight-bold;
}

h6 {
  @extend .font-size-4;
}
