.icon-circle {
  @extend .padding-around-2;

	display: inline-block;
	position: relative;

  &:after {
    @include border-radius(50%);
    
		content: "";
		display: block;
		padding-bottom: 100%;
		position: absolute;
		width: 100%;
		height: 0;
		top: 50%;
		left: 50%;
		z-index: -1;
		transform: translate(-50%, -50%);
	}
}
