html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased !important;
}

html, body {
	height: 100%;
}

* {
	margin:0;
	padding:0;
}

ol,
ul {
	list-style:none;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
}

.col,
aside {
	float: left;
}

p {
	@include rems(margin-bottom, 2);

	&:last-child {
		margin-bottom: 0;
	}
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

blockquote,
q {
	quotes: none;

  &:before,
  &:after {
    content: '';
  	content: none;
  }
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-style: normal;
}
