:global(#fp-nav ul li a) {
  border-bottom: none;
}
:global(#fp-nav ul li a span) {
  background: #fff;
}

:global(.fp-controlArrow) {
  top: 100%;
  @include rems(margin-top, -2);
  transform: translateY(-100%);
}

:global(.fp-controlArrow.fp-prev) {
  left: 100%;
  @include rems(margin-left, -6);
  @include rems(border-width, 1.4, 1.4, 1.4, 0);
}

:global(.fp-controlArrow.fp-next) {
  @include rems(right, 2);
  @include rems(border-width, 1.4, 0, 1.4, 1.4);
}

:global(.fp-slidesNav) {
  @extend .padding-right-3;

  display: flex;
  justify-content: flex-end;
}

:global(.fp-slidesNav ul li a) {
  border-bottom: none;
}

:global(.fp-slidesNav ul li a span) {
  background: #fff;
}

:global(.fp-tooltip) {
  @extend .padding-vertical-1;
  @extend .padding-left-2;
  @extend .padding-right-3;

  @include border-radius(0px 20px 20px 0);
  @include rems(line-height, 2);

  background: rgba(0, 0, 0, 0.8);
  transform: translateY(-25%);
  overflow: visible !important;
  left: 30px !important;
  left: 3rem !important;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    @include rems(border-width, 1.5, 1.5, 1.5, 0);
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
  }
}
