$font-value-1: 1.2;
$font-value-2: 1.4;
$font-value-3: 1.6;
$font-value-4: 2;
$font-value-5: 2.4;
$font-value-6: 3;
$font-value-7: 6;

$line-value-1: 1.6;
$line-value-2: 1.8;
$line-value-3: 2.4;
$line-value-4: 2.8;
$line-value-5: 3.2;
$line-value-6: 3.8;
$line-value-7: 6.8;

.font {
	&-size {
		&-1 {
			@include font-size($font-value-1, $line-value-1);
		}
		&-2 {
			@include font-size($font-value-2, $line-value-2);
		}
		&-3 {
			@include font-size($font-value-3, $line-value-3);
		}
		&-4 {
			@include font-size($font-value-4, $line-value-4);

      @media #{$tablet} {
        @include font-size($font-value-3, $line-value-3);
      }

      @media #{$phone} {

      }
		}
		&-5 {
			@include font-size($font-value-5, $line-value-5);

      @media #{$tablet} {
        @include font-size($font-value-4, $line-value-4);
      }

      @media #{$phone} {
        @include font-size($font-value-3, $line-value-3);
      }
		}
		&-6 {
			@include font-size($font-value-6, $line-value-6);

      @media #{$tablet} {
        @include font-size($font-value-5, $line-value-5);
      }

      @media #{$phone} {
        @include font-size($font-value-4, $line-value-4);
      }
		}
    &-7 {
			@include font-size($font-value-7, $line-value-7);

      @media #{$tablet} {
        @include font-size($font-value-6, $line-value-6);
      }

      @media #{$phone} {
        @include font-size($font-value-5, $line-value-5);
      }
		}
	}

	&-weight {
		&-bold {
			font-weight: bold;
		}
	}

	&-highlight {
		color: $primary;
	}
}

label {
	text-align: left;
	display: inline-block;
}

pre {
  @extend .padding-around-3;
  @extend .margin-vertical-3;

  @include border-radius(5px);
  @include box;

  border: 1px solid #ccc;
  width: 100%;
  background: #fff;
  color: $body;
  position: relative;
  z-index: 0;
  white-space: pre-wrap;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    transform: translateX(-50%);
  }

  &:before {
    margin-top: 1px;
    @include rems(border-width, 2.1, 2.1, 0, 2.1);
    border-color: #ccc transparent transparent transparent;
  }
  &:after {
    @include rems(border-width, 2, 2, 0, 2);
    border-color: #fff transparent transparent transparent;
  }
}

code {
  @extend .font-size-4;

  @include rems(padding, 0, 0.4);

  background: rgba(255, 255, 255, 0.8);
  color: $body;
  display: inline-block;
}

blockquote {
  position: relative;
  font-style: italic;
}

:global(.fp-tableCell) {
  ul {
    @extend .margin-left-3;
    @extend .margin-bottom-3;

    max-width: 80%;

    &:last-child {
      margin-bottom: 0;
    }

    li {
      @extend .margin-bottom-3;
      @extend .margin-right-3;

      @include angle-right;

      min-width: 30%;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        @extend .margin-right-3;
      }
    }
  }
}
